.conteiner {
    @include clearfix;
}
.sidbar {
    float: left;
    width: 25%;
}
.sidbar__item {
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    margin-left: 18px;
} 
.sidbar__icons, .sidbar__text, .sidbar__quantity {
    @include inline-block(middle);   
} 
.sidbar__link {    
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;   
    font-size: 15px;
    color: #2e2e2e;   
}
.sidbar__icons {
    max-height: 30px;
    max-width: 23px; 
}
.sidbar__pic {
    width: 100%;
    display: block;
}    
.sidbar__text {   
    padding-right: 25px;
    width: 90%;
    padding-left: 20px;
      
}
.sidbar__quantity {
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 14px;
    line-height: 16px;
    margin-top: -8px;
}